#main_index {
    .presentacion {
        padding: 73px;
        background-image:
            url(../assets/img/holaa2.jpg);

        background-position: center center;
        background-size: cover;
        // max-width: 200rem;

        .h1 {
            font-family: 'Work Sans', sans-serif;
            font-size: 80px;
            text-align: left;
            max-width: 70rem;
            margin: auto;
        }

        .h2 {
            font-family: 'Work Sans', sans-serif;
            font-size: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: left;
            max-width: 70rem;
            margin: auto;
        }

        .subtexto {
            font-family: 'Montserrat', sans-serif;
            text-align: left;

            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 123px;
            font-weight: bold;
            max-width: 30rem;

        }

        button {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: #eaeaea;
            background-color: #008db1;
            size: 30px;
            padding: 8px;
            border-radius: 50px;
            margin: 1rem 1rem 1rem 20.5rem;
        }
    }

    .verde {
        background-color: #619b8a;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container {
        padding: 20px 0 30px;

        .card {
            font-family: 'Montserrat', sans-serif;
        }
    }




    @media(max-width: 1000px) {

        .verde {
            font-size: 15px;
        }

        .main_index {
            display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            // grid-template-rows: 1fr 0.5fr 1.5fr 1fr;
            // gap: 0px 0px;
            grid-template-areas:
                "h1 h1 h1"
                "h2 h2 h2"
                "subtexto subtexto subtexto"
                "button button button";
        }

        .h1 {
            grid-area: h1;

        }

        .h2 {
            grid-area: h2;
        }

        .subtexto {
            grid-area: subtexto;
            font-size: 15px;
            max-width: 60vw;
            margin: auto;
        }

        .button {
            grid-area: button;
            display: flex;
            justify-content: center;
        }

        .presentacion {
            background-image: none;
            background-color: #9a7ee2;
            // padding-left: 20vw;
            max-width: 100%;

            .h1 {
                font-size: 50px;
                text-align: center;
            }

            .h2 {
                font-size: 30px;
                text-align: center;

            }

            .subtexto {
                text-align: center;
                padding: 0 0 1rem 0;
            }

            a {
                text-decoration: none;
            }

            button {
                display: flex;
                margin: auto;

            }


        }
    }
}